go 1.24

use (
	./wasmx
	./wasmx-wasmedge
	./wasmx-wazero
	./mythos-wazero
	./mythos-wasmedge
	./tests
	./wasmx-vmimap
	./wasmx-vmsmtp
	./wasmx-vmpostgresql
	./tests/testdata/tinygo/wasmx-env
	./tests/testdata/tinygo/wasmx-env-consensus
	./tests/testdata/tinygo/wasmx-env-core
	./tests/testdata/tinygo/wasmx-env-multichain
	./tests/testdata/tinygo/wasmx-env-crosschain
	./tests/testdata/tinygo/wasmx-env-httpclient
	./tests/testdata/tinygo/wasmx-env-imap
	./tests/testdata/tinygo/wasmx-env-smtp
	./tests/testdata/tinygo/wasmx-utils
	./tests/testdata/tinygo/wasmx-auth
	./tests/testdata/tinygo/wasmx-bank
	./tests/testdata/tinygo/wasmx-staking
	./tests/testdata/tinygo/wasmx-slashing
	./tests/testdata/tinygo/wasmx-distribution
	./tests/testdata/tinygo/wasmx-gov
	./tests/testdata/tinygo/wasmx-gov-continuous
	./tests/testdata/tinygo/wasmx-multichain-registry
	// tests
	./tests/testdata/tinygo/emailchain
	./tests/testdata/tinygo/add
	./tests/testdata/tinygo/forward
	./tests/testdata/tinygo/simple_storage
	./tests/testdata/tinygo/imaptest
	./tests/testdata/tinygo/smtptest
)

replace (
	// go get github.com/loredanacirstea/cosmos-db@c3cda2071a0e24399f845be60f398a5477cc436f
	github.com/cosmos/cosmos-db => github.com/loredanacirstea/cosmos-db v1.0.3-0.20250928222443-c3cda2071a0e

	github.com/cosmos/cosmos-sdk => github.com/loredanacirstea/cosmos-sdk v0.50.7-0.20251002153952-bda13055f957
	cosmossdk.io/store => github.com/loredanacirstea/cosmos-sdk/store v1.1.1-0.20251002153952-bda13055f957

	// github.com/cosmos/cosmos-sdk => ../cosmos-sdk
	// cosmossdk.io/store => ../cosmos-sdk/store
	// github.com/cosmos/iavl => ../iavl
	// github.com/cosmos/cosmos-db => ../cosmos-db
	// github.com/tetratelabs/wazero => ../wazero
)
