go 1.23.2

use (
	./wasmx
	./wasmx-wasmedge
	./wasmx-wazero
	./mythos-wazero
	./mythos-wasmedge
	./tests
	./db-sqlite
)

replace (
	// github.com/cosmos/cosmos-sdk => ../cosmos-sdk
	// cosmossdk.io/store => ../cosmos-sdk/store
	// github.com/tetratelabs/wazero => ../wazero
)
